body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        "nav"
        "header"
        "sobre-mi"
        "exp-edu"
        "portafolio"
        "portafolio"
        "contact";
}

#presentacion {
    grid-area: header;
}

#sobre-mi {
    grid-area: sobre-mi;
}

#exp-edu {
    grid-area: exp-edu;
}

#portafolio {
    grid-area: portafolio;
}

#contact {
    grid-area: contact;
}

@media only screen and (min-width: 450px) {
    #portafolio div div {
        width: 60vw;
    }

    #portafolio div div img {
        width: 55vw;
    }

    .izquierda {
        transform: translateX(-15rem);
    }

    .derecha {
        transform: translate(15rem);
    }

    .visible {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (min-width: 767px) {
    body {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "nav nav"
            "header header"
            "sobre-mi sobre-mi"
            "exp-edu exp-edu "
            "portafolio portafolio"
            "contact contact";
    }

    #cont-herramientas-idiomas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #div1-main,
    #div2-main {
        width: 40vw;
    }

    #main-footer {
        flex-direction: row;
    }

    #contenedor-flip-card-y-contact,
    #div-redes-sociales {
        width: 50vw;
        height: 80vh;
        margin: 1rem;
    }

    #div-tel-mail {
        margin-left: 5vw;
        width: 40vw;
    }

    #portafolio div div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 30vw;
    }

    #portafolio div div img {
        width: 25vw;
    }

}