body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  repeat(7, auto);
    grid-template-areas:
        "nav"
        "header"
        "sobre-mi"
        "exp-edu"
        "portafolio"
        "portafolio"
        "contact";
}

#nav-principal {
    grid-area: nav;
}

#presentacion {
    grid-area: header;
}

#sobre-mi {
    grid-area: sobre-mi;
}

#exp-edu {
    grid-area: exp-edu;
}

#portafolio {
    grid-area: portafolio;
}

#contact {
    grid-area: contact;
}

@media only screen and (min-width: 767px) {
    body {
        grid-template-areas:
            "nav nav"
            "header header"
            "sobre-mi sobre-mi"
            "exp-edu exp-edu "
            "portafolio portafolio"
            "contact contact";
    }

    #btn-hamburguesa{
        display: none;
    }
    #btn-x{
        display: none;
    }

    nav a:hover {
        padding-left: 0;
        background-color: var(--color-grey-dark);
        color: var(--color-orange);
        transition: 0.5s;
    }

    #nav-principal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        z-index: 100;
        height: 10vh;
        top: 0;
        left: 10%;
        color: var(--color-white);
        background: none;
    }
    #nav-principal div{
        display: flex;
        width: 8vw;
        height: 10vh;
        align-items: center;
        justify-content: center;
    }
    #nav-principal div img{
        display: flex;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }
    #nav-principal div img:hover{
        transform: rotate3d(0, 1, 0, 720deg);
        transition: 3.5s;
    }

    #nav-principal ul {
        display: flex;
        flex-direction: row;
        height: 10vh;
        font-size: 10px;
    }

    #nav-principal ul li {
        border: none;
        list-style: none;
    }

    #nav-principal a:link,
    a:visited,
    a:active {
        text-decoration: none;
        font-size: 15px;
        color: var(--color-white);
        margin-left: 10px;
    }
}


@media only screen and (min-width: 1000px) {
    body {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "nav nav"
            "h2  h2 "
            "header header"
            "exp-edu sobre-mi"
            "portafolio portafolio"
            "contact contact";
    }
}