:root {
    --color-orange: rgb(188, 84, 25);
    --color-white: white;
    --color-grey: #b2bec3;
    --color-blue-font: #2c3e50;
    --color-orange-light: rgb(230, 163, 125);
}

#logros {
    background: #334d50;
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);
    background: linear-gradient(to right, #cbcaa5, #334d50);
    color: var(--color-blue-font);
    font-weight: 900;
}

#p1,
#p2 {
    font-size: 15px;
}

#p2 {
    color: var(--color-orange);
}

#logros h3 {
    color: var(--color-orange);
    font-weight: bold;
    text-align: center;
    font-size: 26px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

#img-front,
#img-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#img-front img,
#img-back img {
    width: 330px;
    height: 350px;
    border-radius: 10%;
}

#img-back {
    transform: rotateY(180deg);
}