:root {
    --color-orange: rgb(188, 84, 25);
    --color-white: white;
    --color-grey: #b2bec3;
    --color-blue-font: #2c3e50;
    --color-orange-light: rgb(230, 163, 125);
}
#logros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 30px 35% 60% 5%;
    gap: 20px;
    background: var(--color-grey);
    color: var(--color-blue-font);
    font-weight: 900;
}
#p1,
#p2 {
    font-size: 15px;
}
#p2 {
    color: var(--color-orange);
}
#logros h3 {
    color: var(--color-orange);
    font-weight: bold;
}
#logros nav{
    color: var(--color-blue-font);
}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
#img-front,
#img-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#img-front img,
#img-back img {
    width: 352px;
    height: 228px;
}
#img-back {
    transform: rotateY(180deg);
}

/*  GRID */
#p1 {
    grid-column: 1;
    grid-row: 3;
}
#p2 {
    grid-column: 2;
    grid-row: 3;
}
#logros h3 {
    grid-column: 1;
    grid-row: 2;
}
#div-perfil {
    grid-column: 1;
    grid-row: 4;
}
.flip-box {
    grid-column: 2;
    grid-row: 4;
}