:root {
    --color-orange: rgb(188, 84, 25);
    --color-white: white;
    --color-grey: #b2bec3;
    --color-grey-dark: rgb(69, 68, 68, 0.9);
}

#nav-principal{
    position: fixed;
    align-items: flex-start;
    z-index: 1;
    width: 80vw;
    height: 90vh;
    background: rgb(46, 45, 45, 0.9);
    color: var(--color-white);
}

#nav-principal ul {
    display: flex;
    flex-direction: column;
    background: var(--color-grey-dark);
    font-size: 10px;
    height: 90vh;
    width: 90vw;
}

#nav-principal ul li {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--color-grey-dark);
    list-style: none;
}

#nav-principal a:link,
a:visited,
a:active {
    text-decoration: none;
    font-size: 15px;
    color: var(--color-white);
}

nav a:hover {
    display: flex;
    align-items: center;
    padding-left: 15%;
    transition: 1.3s;
    height: 100%;
    width: 100%;
    font-weight: 900;
    background-color: var(--color-orange);
}


.close{
    display: none;
}
.open{     
        display: flex;  
}