:root {
    --color-orange: rgb(188, 84, 25);
    --color-white: white;
    --color-grey: #b2bec3;
    --color-blue-font: #2c3e50;
    --color-orange-light: rgb(230, 163, 125);
}

#portafolio {
    background: var(--color-grey);
    color: var(--color-blue-font);
    font-weight: 900;
}

#portafolio div img {
    width: 120px;
    height: 130px;
    border-radius: 50%;
    transition: 1s;
}

#portafolio div div {
    width: 140px;
    height: 150px;
}

#portafolio div img:hover {
    width: 130px;
    height: 140px;
    transition: 1s;
}

#Proyect1,
#Proyect2,
#Proyect3,
#Proyect4,
#Proyect5,
#Proyect6 {
    width: 350px;
    height: auto;
    display: inline-flex;
}

#div-proyect p {
    font-size: 15px;
    text-align: start;
}

#div-proyect {
    margin-left: 30px;
    text-align: left;
}