:root {
    --color-orange: rgb(188, 84, 25);
    --color-white: white;
    --color-grey: #b2bec3;
    --color-blue-font: #2c3e50;
    --color-orange-light: rgb(230, 163, 125);
}

main {
    background: var(--color-grey);
    color: var(--color-blue-font);
    font-weight: 900;
}

nav a:hover {
    color: var(--color-orange);
}

main p {
    font-size: 15px;
}

main h3,
main span {
    color: var(--color-orange);
    font-size: 20px;
    font-weight: 900;
}

main div {
    text-align: center;
}

.star,
.star-orange {
    height: 25px;
    width: 25px;
    color: var(--color-orange-light);
    display: inline-block;
}

.star-orange {
    color: var(--color-orange);
}